@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

/* remove default margin/padding/borders */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Courier New';
    color: #3a3a3a;
}

/* Logo specific styling*/
#logo {
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 300%;
    float: left;
    color: #3a3a3a;
}

/* Header Navigation links */

#header-menu {
    float: right;
    
}
#menu {
    font-size: 90%;
    letter-spacing: 4px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#header-menu, #logo {
    line-height: 75px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero Image*/

#hero-outer {
    height: 450px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 450px;
    width: 100%;
    overflow: hidden;
    background: url('../img/hero-image.jpg') no-repeat center center;

    /*Zoom animation on page load*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Level of Zoom for Hero Image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
