@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Open+Sans+Condensed:wght@300;700&family=Zen+Maru+Gothic:wght@300&display=swap');

/* remove default margin/padding/borders */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #3a3a3a;
    
}

header {
    overflow: hidden;
    width: 100%;
    /*background-color:rgb(111,227,77);*/
    height: 75px;
}

/* Logo specific styling*/
#logo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 250%;
    float: left;
    color: #3a3a3a;
    margin-left: 3%;
}

#icon {
    margin-right: 10px;
}

/* Header Navigation links */

#header-menu {
    float: right;
    
}
#menu {
    font-size: 90%;
    letter-spacing: 3px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#header-menu, #logo {
    line-height: 75px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero Image and hero overlay*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-overlay {
    color: #fff;
    opacity: 0.7;
}

#hero-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background: url('../img/hero-image.jpg') no-repeat center center;

    /*Zoom animation on page load*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-overlay a {
    color: #fff;
    text-decoration: none ;
}

/* Level of Zoom for Hero Image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#hero-overlay{
    font-size: 85%;
    font-family: 'Open Sans Condensed', sans-serif;    
    letter-spacing: 3px;

    width: 35%;
    height: 30%;

    padding-top: 2%;
    padding-right: 3%;
    padding-left: 2%;

    background-color: #3a3a3a;

    bottom: 20%;
    right: 5%;

    position: absolute;
}

/* About section */

#about {
    color: #3a3a3a;
    height: 600px;

}

#about-h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.hr-thick {
    border-top: 3px solid #3a3a3a;
    width: 25%;
    margin: auto;
    margin-bottom: 30px;
}

hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#left-about, #right-about {
    padding-top: 30px;
    width: 33%;
    font-weight: 300;
}

#right-about {
    float: right;
}

#left-about {
    float: left;
}

h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.left-about-heading, .right-about-heading {
    font-family: 'Zen Maru Gothic', sans-serif;
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    font-weight: 300;
}

.left-about-heading {
    float: right;
}

.right-about-heading {
    float: left;
    text-align: right;
}


#center-about {
    width: 33%;
    margin: 0 auto;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;

    border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg {
    background: url('../img/circle-cover-bg.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* footer */

footer {
    height: 150px;
}

.socials {
    text-align: center;
}

.socials li{
    display: inline;
}

.socials i{
    font-size: 160%;
    margin-top:10px;
    width: 15%;
    color: #3a3a3a;
}

.socials-note {
    text-align: center;
}


